@mixin light-mode {

    background-color: white;
    color: black;
    accent-color: orangered;
}

@mixin dark-mode {
    background-color: #333;
    color: white;
    accent-color: #d0d066;
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    transition: .7s;

    overflow: hidden;
}

.light {
    @include light-mode;


    #toggle-btn {
        background-color: orangered;
    }

    .sun {
        fill: orangered;
    }
}

.dark {

    @include dark-mode;

    #toggle-btn {

        background-color: #d0d066;
    }

    .moon {
        fill: #d0d066
    }
}

.title {
    margin: 0;
    margin-bottom: .5rem;
}


#toggle-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: .5em 1em;
    border-radius: .3em;
    border: none;
    outline: none;
    transition: .7s;
    color: white;
    transform: scale(1);

    &:hover,
    &:focus {
        transform: scale(1.1);
    }
}

.icon {
    margin-right: .5em;
}

.sun-moon-container {
    --rotation: 0;

    position: absolute;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    height: 200vmin;
    transform: rotate(calc(var(--rotation) * 1deg));
    transition: transform .7s;
}

.sun,
.moon {
    position: absolute;
    transition: opacity, fill, .7s;
    width: 30px;
    height: 30px;
}

.sun {
    top: 5%;
    opacity: 1;
}

.dark .sun {
    opacity: 0;
}

.moon {
    bottom: 5%;
    opacity: 0;
    transform: rotate(180deg);
}

.dark .moon {
    opacity: 1;
}